version: '3.8'

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: mi_contraseña
      POSTGRES_DB: co2_emission
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  backend:
    build: ./backend
    command: npm run dev
    ports:
      - "5000:5000"
    environment:
      DB_USER: postgres
      DB_PASSWORD: mi_contraseña
      DB_NAME: co2_emission
      DB_HOST: db
    volumes:
      - ./backend:/app      
    depends_on:
      - db

volumes:
  pgdata:
